<html>
<head>
    <meta charset="UTF-8">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

<h2>Аутентификация</h2>
<div class="col-3">
    {{ form(form_login) }}
    {% if errs %}
        <div>
            {{ errs.messageKey|trans(errs.messageData, 'security') }}
        </div>
    {% endif %}
</div>

</body>
</html>